<header class="cyber-header">
  {% include nav-icons.svg %}
  <div class="cyber-header__inner">
    <a class="cyber-logo" href="{{ "/" | prepend: site.baseurl | replace: '//', '/' }}">
      <img src="{{ "/assets/logo-cyber2.jpg" | prepend: site.baseurl | replace: '//', '/' }}" alt="s3mpr1linux" class="logo">
    </a>

    {% assign owner_first_name = site.owner | split: " " %}
    {% assign brand = owner_first_name[0] | downcase %}
    <h1 class="cyber-title" data-text="{{ brand }}">{{ brand }}</h1>

    <nav class="cyber-nav" aria-label="Navegação principal">
      <a href="{{ "/" | prepend: site.baseurl | replace: '//', '/' }}"><svg class="ico"><use href="#i-home"></use></svg>home</a>
      <a href="https://github.com/s3mPr1linux/" target="_blank" rel="noopener noreferrer"><svg class="ico"><use href="#i-github"></use></svg>github</a>
      <a href="https://app.hackthebox.com/public/teams/overview/6937" target="_blank" rel="noopener noreferrer"><svg class="ico"><use href="#i-htb"></use></svg>htb</a>
      <a href="https://tryhackme.com/p/s3mPr1linux" target="_blank" rel="noopener noreferrer"><svg class="ico"><use href="#i-thm"></use></svg>thm</a>
      <a href="https://x.com/s3mPr1linux" target="_blank" rel="noopener noreferrer"><img class="ico ico-img" src="{{ "/assets/icons/twitter.png" | prepend: site.baseurl | replace: '//', '/' }}" alt="">x</a>
      {% include links.html %}
    </nav>
  </div>
</header>
