<header>
  <div>
    <a href="{{ "/" | prepend: site.baseurl | replace: '//', '/' }}">
    {% assign owner_first_name = site.owner | split: " " %}
    <h1>{{ owner_first_name[0] | downcase }}</h1>
    </a>
    <div class="header-links">
      {% include links.html %}
    </div>
     <div class="header-right">
      <img src="/assets/images/logo.png" alt="Logo" class="logo">
    </div>
    
	<div class="sidebar">
          <div class="card">
            <div class="card-content">
              <p>
		<div class="logo">
                <img src='/assets/images/Network-Kyuubi-icon.png'>
		</div>
                <center><br>
                  | Pentester |<br>
                  | Android Malware Analyst |
		</center>
              </p>
              <a href="https://www.purpl3f0xsecur1ty.tech"> Home
              </a>
              <a href="https://github.com/purpl3f0xsecur1ty" target="_blank">GitHub
              </a>
              <a href="https://www.purpl3f0xsecur1ty.tech/archive">Archive
              </a>
            </div>
	</div>
	<div class="certs">
		<center>
		<img src="/assets/images/OSCP.png"/>
		<img src="/assets/images/OSEP1.png"/>
		</center><br>
	</div>
  </div>
</header>
