<header>
  <div>
    <a href="{{ "/" | prepend: site.baseurl | replace: '//', '/' }}">
    {% assign owner_first_name = site.owner | split: " " %}
    <h1>{{ owner_first_name[0] | downcase }}</h1>
    </a>
    <div class="header-logo">
     <img src="/assets/logo3.png" alt="Logo" class="logo">
    </div>
    <a href="https://s3mpr1linux.github.io/">Home</a>
    <a href="https://github.com/s3mPr1linux" target="_blank">GitHub</a>
    <a href="https://app.hackthebox.com/profile/overview" target="_blank">HTB</a>
    <a href="https://tryhackme.com/p/s3mPr1linux">THM</a>
    <a href="https://www.purpl3f0xsecur1ty.tech/archive">X</a>
    <div class="header-links">
      {% include links.html %}
    </div>
  </div>
</header>
