<a href="{{ "/archive" | prepend: site.baseurl | replace: '//', '/' }}"><svg class="ico"><use href="#i-posts"></use></svg><h2 class="header-link">posts</h2></a>
<a href="{{ "/linux" | prepend: site.baseurl | replace: '//', '/' }}"><svg class="ico"><use href="#i-linux"></use></svg><h2 class="header-link">linux</h2></a>
<a href="{{ "/cheatsheets/" | prepend: site.baseurl | replace: '//', '/' }}"><svg class="ico"><use href="#i-cheatsheets"></use></svg><h2 class="header-link">cheatsheets</h2></a>
<a href="{{ "/feed.xml" | prepend: site.baseurl | replace: '//', '/' }}"><svg class="ico"><use href="#i-rss"></use></svg><h2 class="header-link">rss</h2></a>
<a href="https://portfolio-certificados.fly.dev/" target="_blank" rel="noopener noreferrer"><svg class="ico"><use href="#i-certs"></use></svg><h2 class="header-link">certs</h2></a>
<a href="{{ "/microsoft" | prepend: site.baseurl | replace: '//', '/' }}"><svg class="ico"><use href="#i-ms"></use></svg><h2 class="header-link">ms</h2></a>
